# --- MOTOR CONSTANTS ---
[motor_constants sv08-xy]
resistance: 1.0
inductance: 0.002
holding_torque: 0.42
max_current: 1.5
steps_per_revolution: 200

[motor_constants sv08-z]
resistance: 6.0
inductance: 0.0087
holding_torque: 0.28
max_current: 0.8
steps_per_revolution: 200

[motor_constants sv08-extruder]
resistance: 1.8
inductance: 0.0012
holding_torque: 0.135
max_current: 1.5
steps_per_revolution: 200

# --- TMC AUTOTUNE CONFIGURATION ---

[autotune_tmc stepper_x]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
motor: sv08-xy
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# Values: auto, silent, performance, and autoswitch
tuning_goal: performance
# Additional hysteresis to reduce motor humming and vibration at low to medium speeds.
extra_hysteresis: 0
# Comparator blank time.
tbl: 2
# Sets the slow decay time (off time) of the chopper cycle. 0 = auto-computed.
toff: 0
# Sensorless homing threshold for TMC2209.
sg4_thrs: 130
# Voltage used to power this motor and stepper driver
voltage: 24

[autotune_tmc stepper_y]
motor: sv08-xy
tuning_goal: performance
extra_hysteresis: 0
tbl: 2
toff: 0
sg4_thrs: 125
voltage: 24

[autotune_tmc stepper_z]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 0
voltage: 24

[autotune_tmc stepper_z1]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 0
voltage: 24

[autotune_tmc stepper_z2]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 0
voltage: 24

[autotune_tmc stepper_z3]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 0
voltage: 24

[autotune_tmc extruder]
motor: sv08-extruder
# Extruder is best set to silent or auto
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 0
voltage: 24