# --- USER DEFINED MOTORS (SV08 STOCK) ---
[motor_constants sv08-xy]
resistance: 1.0
inductance: 0.002
holding_torque: 0.42
max_current: 1.5
steps_per_revolution: 200

[motor_constants sv08-z]
resistance: 6.0
inductance: 0.0087
holding_torque: 0.28
max_current: 0.8
steps_per_revolution: 200

[motor_constants sv08-extruder]
resistance: 1.8
inductance: 0.0012
holding_torque: 0.135
max_current: 1.5
steps_per_revolution: 200

# --- TMC AUTOTUNE BLOCKS ---

[autotune_tmc stepper_x]
motor: sv08-xy
tuning_goal: performance
extra_hysteresis: 0
tbl: 2
toff: 1
sg4_thrs: 130
voltage: 24

[autotune_tmc stepper_y]
motor: sv08-xy
tuning_goal: performance
extra_hysteresis: 0
tbl: 2
toff: 1
sg4_thrs: 125
voltage: 24

[autotune_tmc stepper_z]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 1
voltage: 24

[autotune_tmc stepper_z1]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 1
voltage: 24

[autotune_tmc stepper_z2]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 1
voltage: 24

[autotune_tmc stepper_z3]
motor: sv08-z
tuning_goal: silent
extra_hysteresis: 0
tbl: 2
toff: 1
voltage: 24

[autotune_tmc extruder]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
motor: sv08-extruder
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# By opting for auto, it will automatically apply performance for the X and Y axes and silent for the Z axis and extruder.
# Values: auto, silent, performance, and autoswitch
tuning_goal: silent
# Additional hysteresis to reduce motor humming and vibration at low to medium speeds and maintain proper microstep accuracy.
# Warning: use only as much as necessary as a too high value will result in more chopper noise and motor power dissipation (ie. more heat)
# Values: 0 to 8 | Default: 0
extra_hysteresis: 0
# Comparator blank time. This time must safely cover the TMC switching events.
# A value of 1 or 2 should be fine for most typical applications, but higher capacitive loads may require this to be set to 3.
# Also, lower values allow StealthChop to regulate to lower coil current values
# Values: 0 to 3 | Default: 2
tbl: 2
# Sets the slow decay time (off time) of the chopper cycle. This setting also limits the maximum chopper frequency.
# TMC2209 REQUIRES A MINIMUM OF 1.
# Values: 1 to 15 | Default: 0
toff: 1
# Sensorless homing threshold for TMC2209 and TMC2260. Set value appropriately if using sensorless homing.
# Values: 0 to 255 | Default: 10
sg4_thrs: 10
# Voltage used to power this motor and stepper driver
# Values: 0.0 to 60.0 | Default: 24
voltage: 24
# Set the optional overvoltage snubber built into the TMC2240 and TMC5160.
# Values: 0.0 to 60.0 | Default: 0.0
overvoltage_vth: 0.0