[include mainsail.cfg]
[include macros.cfg]
[include timelapse.cfg]
[include lcd.cfg]
[include autotune_tmc.cfg]
[include moonraker_obico_macros.cfg]
[include HEXA.cfg]
[include KAMP_Settings.cfg]
[include KAMP/Adaptive_Meshing.cfg]
[include KAMP/Line_Purge.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFDA05334D413241800551-if00
restart_method: command  

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_57FF6D064888875450251667-if00
restart_method: command    

[mcu hexa]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_1D0020000D57465235303720-if00

[printer]
kinematics: limited_corexy
max_z_velocity: 30
max_x_accel: 60000
#8250
max_y_accel: 40000
#3910
max_z_accel: 25
max_accel: 60000
max_velocity: 800
#500    
minimum_cruise_ratio: 0.1
#0.5
square_corner_velocity: 15.0
#5

[stepper_x]
high_precision_step_compress: True
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40     
microsteps: 32      
full_steps_per_rotation: 200  
endstop_pin: tmc2209_stepper_x: virtual_endstop  
position_min: -1          
position_endstop: 355   
position_max: 355             
homing_speed: 100
homing_accel: 4000
homing_retract_dist: 5.0
homing_retract_speed: 200
homing_positive_dir: True
use_sensorless_homing: True

[stepper_y]
high_precision_step_compress: True
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 32         
full_steps_per_rotation: 200  
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: -1               
position_endstop: 364         
position_max: 364            
homing_speed: 100  
homing_accel: 4000
homing_retract_dist: 5.0
homing_retract_speed: 200
homing_positive_dir: True
use_sensorless_homing: True  

[stepper_z] 
high_precision_step_compress: True
step_pin: PC0    
dir_pin: PE5    
enable_pin: !PC1    
rotation_distance: 40     
microsteps: 16  
gear_ratio: 80:12             
endstop_pin: probe:z_virtual_endstop    
position_min: -5  
position_max: 351             
homing_speed: 30.0
homing_accel: 20
homing_retract_dist: 1.0
homing_retract_speed: 25.0
second_homing_speed: 10.0

[stepper_z1]
high_precision_step_compress: True
step_pin: PD3  
dir_pin: !PD1 
enable_pin: !PD4 
rotation_distance: 40     
microsteps: 16  
gear_ratio: 80:12            

[stepper_z2] 
high_precision_step_compress: True
step_pin: PD7
dir_pin: PD5   
enable_pin: !PB5
rotation_distance: 40         
microsteps: 16  
gear_ratio: 80:12                  

[stepper_z3]
high_precision_step_compress: True
step_pin: PD11 
dir_pin: !PD9 
enable_pin: !PD12   
rotation_distance: 40         
microsteps: 16  
gear_ratio: 80:12            

[extruder]
high_precision_step_compress: True
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin: !extra_mcu:PB11 
microsteps: 32
rotation_distance: 6.5 
full_steps_per_rotation: 200 
nozzle_diameter: 0.6
filament_diameter: 1.75
max_extrude_cross_section: 1.5
max_extrude_only_distance: 500.0
pressure_advance: 0.050
pressure_advance_smooth_time: 0.040
heater_pin: extra_mcu:PB9  
max_power: 1.0
sensor_type: my_thermistor_e
sensor_pin: extra_mcu:PA5 
pullup_resistor: 11500
smooth_time: 0.1
heater_power: 65.0
cooling_fan: fan
filament_density: 1.35
filament_heat_capacity: 1.5
pwm_cycle_time: 0.100
min_extrude_temp: 170
min_temp: 0                 
max_temp: 550  

[thermistor my_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5362.6

[heater_bed]
heater_pin: PA0
max_power: 1.0
sensor_type: my_thermistor
sensor_pin: PC5
smooth_time: 0.1
control: pid
pid_kp: 300
pid_ki: 2
pid_kd: 5
pwm_cycle_time: 0.100
min_temp: 0                 
max_temp: 190  

[bed_mesh]
speed: 700
horizontal_move_z: 3.5
mesh_min: 10,10
mesh_max: 333,340
probe_count: 10,10
fade_start: 0.5
fade_end: 10
split_delta_z: 0.016
mesh_pps: 3,3
algorithm: bicubic
bicubic_tension: 0.4
adaptive_margin: 5

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 800                    
horizontal_move_z: 5        
retry_tolerance: 0.01 
retries: 7                  
max_adjust: 30   

[skew_correction]

[homing_override]
gcode:
  G91 
  G0 Z5 F3000 
  {% if not rawparams or 'Y' in rawparams %}
    {action_respond_info('Homing Y')}
    G28 Y
    G90 
    G0 Y350 F10000 
    M400 
  {% endif %}
  {% if not rawparams or 'X' in rawparams %}
    {action_respond_info('Homing X')}
    G28 X
    G90 
  {% endif %}
  {% if not rawparams or 'Z' in rawparams %}
    {action_respond_info('Homing Z')}
    G90 
    G0 X177.5 Y177.5 F10000 
    G28 Z
    G0 Z3 F3000 
    M400 
  {% endif %}
  G90 
axes: xyz
set_position_z: 0 

[probe]
pin: extra_mcu:PB6
x_offset: -17
y_offset: 10
speed: 5.0
samples: 2
sample_retract_dist: 0.5
lift_speed: 25
samples_result: average
samples_tolerance: 0.005
samples_tolerance_retries: 4

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False             
run_current: 1.1             
sense_resistor: 0.150         
uart_address: 3
diag_pin: PE15

[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False             
run_current: 1.1             
sense_resistor: 0.150         
uart_address: 3
diag_pin: PE13 

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: False             
run_current: 0.55          
sense_resistor: 0.150         
uart_address: 3

[tmc2209 stepper_z1]
uart_pin: PD2  
interpolate: False             
run_current: 0.55          
sense_resistor: 0.150         
uart_address: 3

[tmc2209 stepper_z2]
uart_pin: PD6  
interpolate: False             
run_current: 0.55            
sense_resistor: 0.150         
uart_address: 3

[tmc2209 stepper_z3]
uart_pin: PD10    
interpolate: False            
run_current: 0.55         
sense_resistor: 0.150         
uart_address: 3

[thermistor my_thermistor_e]
temperature1: 25
resistance1: 110000
temperature2: 100
resistance2: 7008
temperature3: 220
resistance3: 435

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: False             
run_current: 0.53          
uart_address: 3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time: 30           
hysteresis: 5                 
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[verify_heater heater_bed]      
max_error: 120                
check_gain_time: 40           
hysteresis: 5                 
heating_gain: 2   

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[controller_fan MCU_fan]
pin: PA2
max_power: 1.0
kick_start_time: 0.5
fan_speed: 1.0
idle_timeout: 300
heater: extruder, heater_bed, chamber_heater
stepper: stepper_x, stepper_y

[heater_generic chamber_heater]
gcode_id: C
heater_pin: PA1
max_power: 1.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: hexa:PA0
control: pid
pid_Kp: 60.00
pid_Ki: 2.00
pid_Kd: 500.00
min_temp: 0
max_temp: 150

[verify_heater chamber_heater]
max_error: 120
check_gain_time: 300
hysteresis: 10
heating_gain: 0.1

[heater_fan chamber_fan]
pin: PA6
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
heater: chamber_heater
heater_temp: 35.0 
fan_speed: 1.0    

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin: extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                        
resolution: 1.0                     

[led main_led]
white_pin: PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 3600

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[respond]
[pause_resume]
[exclude_object]
[display_status]

[adxl345]
cs_pin: extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  
accel_per_hz: 150
min_freq: 1
max_freq: 150
max_smoothing: 0.15
hz_per_sec: 0.5

[input_shaper]
shaper_type_x: smooth_ei
smoother_freq_x: 52.7
shaper_type_y: smooth_mzv
smoother_freq_y: 39.0

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.204
#*#
#*# [extruder]
#*# block_heat_capacity = 8.30612
#*# sensor_responsiveness = 0.0896870
#*# ambient_transfer = 0.102431
#*# fan_ambient_transfer = 0.102431, 0.106787, 0.106236
#*# control = mpc
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = 0.00033391810041519205
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction Calibrated]
#*# xy_skew = 0.00122283318
#*# xz_skew = -0.001338383887
#*# yz_skew = 0.00312290115
#*#
#*# [chamber_heater]
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 17.282
#*# pid_ki = 0.160
#*# pid_kd = 465.336